<mat-sidenav-container class="layout-container" [ngClass]="cardElevation$ | async">

  <div class="layout alpha" fxLayout="column" [class.boxed]="layoutBoxed$ | async">

    <mat-sidenav-container fxFlex>

      <mat-sidenav class="quickpanel-container"
                  (openedStart)="openQuickpanel()" (closedStart)="closeQuickpanel()"
                  [opened]="quickpanelOpen$ | async" [position]="quickpanelAlign" [mode]="quickpanelMode">
        <elastic-quickpanel></elastic-quickpanel>
      </mat-sidenav>

      <mat-sidenav class="sidenav-container"
                  (openedStart)="openSidenav()" (closedStart)="closeSidenav()"
                  [opened]="sidenavOpen$ | async" [position]="sidenavAlign$ | async"
                  [mode]="sidenavMode$ | async" [disableClose]="sidenavDisableClose$ | async"
                  [vrSidenavCollapse]="sidenavCollapsed$ | async">

        <elastic-sidenav [layout]="layout" [collapsed]="sidenavCollapsed$ | async"
                    (toggledSidenavCollapse)="toggleSidenavCollapse()"></elastic-sidenav>

      </mat-sidenav>

      <div class="toolbar-container" fxLayout="column">
        <!-- Layout Alpha -->
        <elastic-toolbar-alpha *ngIf="layout === 'alpha'"
                          [sidenavCollapsed]="sidenavCollapsed$ | async" [quickpanelOpen]="quickpanelOpen$ | async"
                          (toggledSidenav)="toggleSidenav()" (toggledQuickpanel)="toggleQuickpanel()">
        </elastic-toolbar-alpha>
        <!-- /Layout Alpha -->

        <div class="content-container" fxFlex>
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-container>

  </div>

</mat-sidenav-container>

