<div class="form-elements">
  <!-- header -->
  <elastic-page-header [height]="'180px'" background="url(/assets/img/demo/headers/mac-1.png)" [reverse]="true">
  </elastic-page-header>

  <!-- container -->
  <div class="xcontainer">

    <elastic-breadcrumbs [currentPage]="'Create'" [names]="['Query']" [header]="'primary'"></elastic-breadcrumbs>

    <div fxLayout="column">
      <div fxLayout="row" fxLayoutGap="24px">
        <div class="basic-forms card alternative" fxFlex="100%" fxFlex.gt-sm>
          <h3>Query builder</h3>

          <div class="content" fxLayout="column">
            <form #queryForm="ngForm" fxLayout="column">
              <mat-form-field fxFlex>
                <mat-select (selectionChange)="fetchAttributes($event)" placeholder="Index" name="index_type"
                  [(ngModel)]="queryModel.index_type" required>
                  <mat-option *ngFor="let idx of indexes$ | async" [value]="idx.name">
                    {{ idx.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <input matInput name="name" [(ngModel)]="queryModel.name" placeholder="Name" type="text" required>
              </mat-form-field>

              <div id="query-builder"></div>

              <mat-form-field fxFlex>
                <mat-select placeholder="Aggregations" name="agg_id" [(ngModel)]="selectedAgg" required>
                  <mat-option *ngFor="let idx of aggregations$ | async" [value]="idx">
                    {{ idx.name }} ( {{ idx.description }} )
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
                <button mat-button color="primary" [swal]="['Oops!', 'This is not implemented yet :/', 'warning']">Save</button>
                <button mat-button (click)="runQuery()" color="primary">Get Data</button>
              </div>
            </form>
          </div>
        </div>
        <!-- end of first card -->

        <div class="card alternative" fxFlex="100%" fxFlex.gt-sm>
          <h3>Result</h3>
          <div class="content">
            <canvas width="150" height="90" #canvas></canvas>
          </div>
        </div>
        <!-- end of second card -->
      </div>
      <!-- end of 1st row -->
    </div>
    <!-- swal  -->
    <swal #validateSwal title="Warning" text="You must fill all required fields." type="error"></swal>
  </div>
</div>