<div class="form-elements">

  <elastic-page-header [height]="'180px'" background="url(/assets/img/demo/headers/mac-1.png)"
                       [reverse]="true"></elastic-page-header>

  <div class="container">

    <elastic-breadcrumbs [currentPage]="'Create'" [names]="['Query']" [header]="'primary'"></elastic-breadcrumbs>

    <div fxLayout="row" fxLayoutGap="24px">

      <div class="basic-forms card alternative" fxFlex="100%" fxFlex.gt-sm>
        <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
          <div>
            <div class="title">Query Builder</div>
          </div>
        </div>

        <div class="content" fxLayout="column">
          <div class="result" fxLayout="column">
            {{ sneakQueryJson }}
            <mat-form-field>
              <input matInput placeholder="Name" type="text" required>
            </mat-form-field>

            <query-builder [(ngModel)]='query' [config]='config'></query-builder>

            <mat-form-field>
              <input matInput placeholder="Index type" type="text" required>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Modifiable Field" type="text" required>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Aggregation" type="text" required>
            </mat-form-field>

            <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
              <mat-slide-toggle color="accent" [checked]="true">
                Is Public?
              </mat-slide-toggle>

              <mat-slide-toggle color="accent" [checked]="true">
                Active
              </mat-slide-toggle>
            </div>

            <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
              <button mat-raised-button color="primary">Save</button>
              <button mat-raised-button color="primary">Get Data</button>
            </div>
          </div>
        </div>
      </div>

      <div class="card alternative" fxFlex="100%" fxFlex.gt-sm>
        <div fxFlex class="mat-elevation-z2">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Key</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of rows">
                <td>{{ row.key }}</td>
                <td>{{ row.value }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
