<div class="all-in-one-table">


  <div class="container">

    <elastic-list name="Aggregations" [columns]="columns" (filterChange)="onFilterChange($event)">
      <mat-table #table [dataSource]="dataSource" matSort>
        
        <!-- fullName Column -->
        <ng-container *ngFor="let column of columns">
          <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.name }}</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row[column.property] }}</mat-cell>
          </ng-container>
        </ng-container>        

        <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: visibleColumns;" class="clickable"></mat-row>
      </mat-table>

      <mat-paginator class="paginator" [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>

    </elastic-list>

  </div>

</div>
