<div class="form-elements">

  <div class="container">
    <div fxLayout="column" fxLayoutGap="24px">
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start" fxLayoutGap="24px">
        <div class="basic-forms card alternative" fxFlex="100%" fxFlex.gt-sm>
          <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
            <div>
              <div class="title">Aggregations Creator</div>
            </div>
          </div>
          <form #aggForm="ngForm">
            <div class="result" fxLayout="column">
              <mat-form-field>
                <input matInput placeholder="Agg. Name" [(ngModel)]="model.name" name="name" type="text" required>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Agg. Description" [(ngModel)]="model.description" name="description" type="text" required>
              </mat-form-field>

              <mat-form-field>
                <textarea matInput [rows]="5" placeholder="Agg. Content" [(ngModel)]="model.content" name="content" required></textarea>
              </mat-form-field>

              <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
                <mat-form-field fxFlex>
                  <mat-select placeholder="Indexes" [(ngModel)]="model.indexes" name="indexes" multiple required>
                    <mat-option *ngFor="let idx of indexes$ | async" [value]="idx.name">
                      {{ idx.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex>
                  <mat-select placeholder="Type" [(ngModel)]="model.type" name="type" required>
                    <mat-option *ngFor="let graph of graphs" [value]="graph.name">
                      {{ graph.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
              <mat-form-field fxFlex>
                <input matInput placeholder="Max time range" type="text" [(ngModel)]="model.max_time_ranges" name="max_time_ranges" required>
              </mat-form-field>
              <div fxFlex>
                <mat-slide-toggle [checked]="false">Active</mat-slide-toggle>
              </div>
            </div>

            <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
              <button mat-button  (click)="newAggregation()" color="primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
